//font

//@font-face {
//  font-family: 'antoniobold';
//  src: url('../assets/font-antonio/antonio-bold-webfont.woff2') format('woff2'),
//  url('../assets/font-antonio/antonio-bold-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//
//}
//
//@font-face {
//  font-family: 'antonioregular';
//  src: url('../assets/font-antonio/antonio-regular-webfont.woff2') format('woff2'),
//  url('../assets/font-antonio/antonio-regular-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//
//}
//
//@font-face {
//  font-family: 'antoniolight';
//  src: url('../assets/font-antonio/antonio-light-webfont.woff2') format('woff2'),
//  url('../assets/font-antonio/antonio-light-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//
//}

@font-face {
  font-family: 'antonioregular';
  src: url('../assets/font-Antonio/Antonio-VariableFont_wght.ttf') format('truetype');

}

$first-color: #5e6464;
$second-color: #cc883e;
$third-color: #f4c88c;
$fourth-color: #a5c6b1;
$fifth-color: #d2afae;


// variables

$font: 'antonioregular', Tahoma, sans-serif;

$body-background: #D9D9D9;
$container-background-color: #FFFFFF;

$text-color: $first-color;

$hero-title-color:$second-color;

$sliderbox-text-color: #FFFFFF;
$slider-background-color: $third-color;



$circles-text-color: #FFFFFF;
$circle1-background-color: $first-color;
$circle2-background-color: $fourth-color;
$circle3-background-color: $second-color;
$circle4-background-color: $fifth-color;
$circle5-background-color: $third-color;

$circle-background-color: #F0E6E6;

$details-title-color: $first-color;
$details-circle1-color: #DFF3D2;
$details-circle2-color: #EFF0E6;
$details-circle3-color: #F0EDE6;
$details-circle4-color: #E8F0E6;

$footer-background-color: $fifth-color;
$footer-text-color: $text-color;

//breakpoints

$mobile: 360px;
$tablet: 760px;
$large: 1360px;
$xlarge: 1920px;





