// variables

$text-color: #514545;

$sliderbox-text-color: #FFFFFF;
$slider-background-color: #F6F0D9;

$footer-background-color: #E4DD9E;

$circles-text-color: #FFFFFF;
$circle1-background-color: #C3A66C;
$circle2-background-color: #DCCC92;
$circle3-background-color: #DCCC92;
$circle4-background-color: #BDB45D;
$circle5-background-color: #BDB45D;

$circle-background-color: #F0E6E6;


$details-circle1-color: #DFF3D2;
$details-circle2-color: #EFF0E6;
$details-circle3-color: #F0EDE6;
$details-circle4-color: #E8F0E6;





