@import "base";
@import "media";

//Hero

//.hero-background {
//  background: url(../assets/hero-background-nologo.png) no-repeat center;
//  background-size: cover;
//  width: 100%;
//  height: 400px;
//}

.container.hero {
  width: 100%;

  position: relative;

}

.hero-link {

  text-decoration: none;


  position: absolute;
  right: 0;
  bottom: 250px;

  .hero-link__background {
    width: 180px;
    height: 180px;
    filter: invert(60%) sepia(1%) saturate(3283%) hue-rotate(314deg) brightness(109%) contrast(102%);
  }
}

.hero-background {
  width: 100%;
}

.hero-info {
  margin: 0;

  text-align: justify;
  color: $text-color;

  font-size: 20px;

  padding: 10px;

  .hero-title {
    color: $hero-title-color;
    text-align: center;

    margin-top: 0;

  }

  @include mobile {
    font-size: 16px;
    padding: 20px;
  }
}

// Slider

.container.slider {

  background-color: $slider-background-color;
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.slider-title {

  color: $text-color;
  text-align: center;

  font-weight: bold;

  @include mobile {
    padding: 20px;
  }
}

.slider-boxes {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0 50px 0;
  width: 100%;

  @include mobile {
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
  }

}
.slider-boxes__box {
  width: 200px;
  height: 200px;
  margin: 0 15px;

  opacity: 0.8;

  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s linear;

  @include mobile {
    margin: 5px 5px;
    width: 90%;
    height: 50px;
  }



  &.box1 {
    background-image: url('../assets/slider-img1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  &.box2 {
    background-image: url('../assets/slider-img2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &.box3 {
    background-image: url('../assets/slider-img3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  .slider-boxes__text {
    color: $sliderbox-text-color;

  }

  &:hover {
    width: 240px;
    height: 240px;
    opacity: 1;
    font-size: 28px;

    @include mobile {
      width: 90%;
      height: 50px;
      opacity: 1;
      font-size: 24px;
    }
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;

  }
  100% {
    opacity: 1;

  }
}

.slide {
  text-align: center;
  color: $text-color;
  width: 95%;

  animation: reveal 0.35s linear forwards;

}

.slide-content {
  display: flex;
  align-items: center;



  .slide-content__img {
    min-width: 120px;
    min-height: 120px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $circles-text-color;

    pointer-events: none;


    border-radius: 5%;

    box-shadow: inset 0 0 4px 4px $slider-background-color;

    &.box-one {
      background: url(../assets/slider-img1.png) no-repeat center;
      background-size: cover;

      @include mobile {
        display: none;
      }


    }
    &.box-two {
      background: url(../assets/slider-img2.png) no-repeat center;
      background-size: cover;

      @include mobile {
        display: none;
      }
    }
    &.box-three {
      background: url(../assets/slider-img3.png) no-repeat center;
      background-size: cover;

      @include mobile {
        display: none;
      }
    }

  }

  > div {
    pointer-events: none;

    @include mobile {
      padding: 20px;
    }

  }

  .slide-content__title {
    display: inline-flex;
    margin: 0;

    font-weight: bold;

  }

  .slide-content__text {
    text-align: justify;
    white-space: pre-line;


  }

  .slide-content__link {
    pointer-events: auto;

    text-decoration: none;

    color: $text-color;
    font-weight: bold;

    &:hover {
      color: lighten($text-color, 25%);
    }

  }

  .slide-content__link-title {
    text-align: left;

  }




}


//Animated info


.container.circles {
  height: 650px;
  width: 100%;


  @include mobile {
    height: auto;
    margin: 10px 0;
  }

}

.circles-title {
  text-align: center;
  color: $text-color;
}

.circles-field {
  margin-top: 50px;
  color: $circles-text-color;
  font-size: 24px;
  text-align: center;
  width: 100%;
  height: 545px;
  position: relative;



  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
    height: auto;
  }


  .circles1-left {
    width: 240px;
    height: 240px;
    background-color: $circle1-background-color;

    cursor: pointer;


    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle1-background-color,15%);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 15px;
    left: 650px;
    z-index: 1;

    transition: all 0.8s linear;


    @include mobile {
      position: relative;
      left: auto;
      top: auto;

      font-size: 18px;

      width: 90%;
      height: 50px;

      border-radius: 0;
      margin: 5px 5px;
    }

    &.active {
      width: 600px;
      height: 500px;
      top: -20px;
      left: 265px;
      z-index: 2;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 20px;

      box-shadow: inset 0 0 2px 2px $circles-text-color;



      @include mobile {

        position: relative;
        left: auto;
        top: auto;

        font-size: 18px;

        width: 90%;
        height: 200px;

        border-radius: 0;
        margin: 5px 5px;

      }

    }

    &.inactive {
      top: -80px;
      left: 890px;
      opacity: 0;
      cursor: none;


      @include mobile {
        height: 0;
      }

    }

  }

  .circles1-right {
    width: 125px;
    height: 125px;

    background-color: $circle-background-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle-background-color,15%);

    position: relative;
    top: -200px;
    right: 0;
    bottom: 0;
    left: 840px;
    z-index: -1;

    transition: all 1s linear;

    &.inactive {
      top: -100px;
      left: 640px;
      opacity: 0;

    }

    @include mobile {
      display: none;
    }

  }


  .circles2-left {

    width: 150px;
    height: 150px;
    background-color: $circle2-background-color;

    cursor: pointer;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle2-background-color,15%);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -160px;
    left: 900px;

    transition: all 1s linear;

    @include mobile {
      position: relative;
      left: auto;
      top: auto;

      width: 90%;
      height: 50px;

      font-size: 18px;

      border-radius: 0;
      margin: 5px 5px;
    }


    &.active {
      width: 600px;
      height: 500px;
      top: -380px;
      left: 265px;
      z-index: 2;

      box-shadow: inset 0 0 2px 2px $circles-text-color;

      @include mobile {

        position: relative;
        left: auto;
        top: auto;

        font-size: 18px;

        width: 90%;
        height: 200px;

        border-radius: 0;
        margin: 5px 5px;

      }

    }

    &.inactive {
      top: -400px;
      left: 265px;
      opacity: 0;
      cursor: none;

      @include mobile {
        height: 0;
      }

    }

    .applicationFormLink {

      text-decoration: none;
      color: $circles-text-color;
      font-size: 2rem;

      &:hover {
        font-size: 2.5rem;
      }

    }

 }

  .circles2-right {
    width: 125px;
    height: 125px;

    background-color: $circle-background-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle-background-color,15%);

    position: relative;
    top: -295px;
    left: 1005px;
    z-index: -1;

    transition: all 1s linear;

    &.inactive {
      top: -400px;
      left: 500px;
      opacity: 0;
    }

    @include mobile {
      display: none;
    }

  }

  .circles3-left {

    width: 170px;
    height: 170px;
    background-color: $circle3-background-color;

    cursor: pointer;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle3-background-color,15%);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -410px;
    left: 440px;

    transition: all 1s linear;

    @include mobile {
      position: relative;
      left: auto;
      top: auto;

      width: 90%;
      height: 50px;

      font-size: 18px;

      border-radius: 0;
      margin: 5px 5px;
    }

    &.active {
      width: 600px;
      height: 500px;
      top: -640px;
      left: 265px;
      z-index: 2;

      box-shadow: inset 0 0 2px 2px $circles-text-color;

      @include mobile {

        position: relative;
        left: auto;
        top: auto;

        font-size: 18px;

        width: 90%;
        height: 200px;

        border-radius: 0;
        margin: 5px 5px;

      }

    }

    &.inactive {
      top: -500px;
      left: 500px;
      opacity: 0;
      cursor: none;

      @include mobile {
        height: 0;
      }

    }

  }

  .circles3-right {
    width: 125px;
    height: 125px;

    background-color: $circle-background-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle-background-color,15%);

    position: relative;
    top: -540px;
    left: 350px;
    z-index: -1;

    transition: all 1s linear;

    &.inactive {
      top: -700px;
      left: 500px;
      opacity: 0;
    }

    @include mobile {
      display: none;
    }

  }

  .circles4-left {

    width: 130px;
    height: 130px;
    background-color: $circle4-background-color;

    cursor: pointer;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle4-background-color,15%);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -640px;
    left: 90px;

    transition: all 1s linear;

    @include mobile {
      position: relative;
      left: auto;
      top: auto;

      width: 90%;
      height: 50px;

      font-size: 18px;

      border-radius: 0;
      margin: 5px 5px;
    }

    &.active {
      width: 600px;
      height: 500px;
      top: -950px;
      left: 265px;
      z-index: 2;

      box-shadow: inset 0 0 2px 2px $circles-text-color;

      @include mobile {

        position: relative;
        left: auto;
        top: auto;

        font-size: 18px;

        width: 90%;
        height: 200px;

        border-radius: 0;
        margin: 5px 5px;

      }
    }

    &.inactive {
      top: -800px;
      left: 500px;
      opacity: 0;
      cursor: none;

      @include mobile {
        height: 0;
      }

    }

  }

  .circles4-right {
    width: 125px;
    height: 125px;

    background-color: $circle-background-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle-background-color,15%);

    position: relative;
    top: -940px;
    left: 40px;
    z-index: -1;

    transition: all 1s linear;

    &.inactive {
      top: -1100px;
      left: 500px;
      opacity: 0;
    }

    @include mobile {
      display: none;
    }

  }

  .circles5-left {

    width: 160px;
    height: 160px;
    background-color: $circle5-background-color;

    cursor: pointer;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle5-background-color,15%);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -1150px;
    left: 280px;

    transition: all 1s linear;

    @include mobile {
      position: relative;
      left: auto;
      top: auto;

      width: 90%;
      height: 50px;

      font-size: 18px;

      border-radius: 0;
      margin: 5px 5px;
    }

    &.active {
      width: 600px;
      height: 500px;
      top: -1200px;
      left: 265px;
      z-index: 2;

      box-shadow: inset 0 0 2px 2px $circles-text-color;

      @include mobile {

        position: relative;
        left: auto;
        top: auto;

        font-size: 18px;

        width: 90%;
        height: 200px;

        border-radius: 0;
        margin: 5px 5px;

      }

    }

    &.inactive {
      top: -1200px;
      left: 500px;
      opacity: 0;
      cursor: none;

      @include mobile {
        height: 0;
      }


    }

  }

  .circles5-right {
    width: 125px;
    height: 125px;

    background-color: $circle-background-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle-background-color,15%);

    position: relative;
    top: -990px;
    left: 700px;
    z-index: -1;

    transition: all 1s linear;

    &.inactive {
      top: -1500px;
      left: 500px;
      opacity: 0;
    }

    @include mobile {
      display: none;
    }

  }
}

.circles-list {
  margin: 0;
  list-style-position: inside;
  line-height: 1.8;
  max-height: 100%;
  max-width: 600px;
  text-align: center;
  font-size: 1.3rem;
  padding: 0 5px;
  cursor: default;

  animation: reveal 1.3s ease-in forwards;

  @include mobile {
    font-size: 0.8rem;
    line-height: 1.5;
    width: 95%;
  }

  .circles-list__el {
    color: $text-color;


    &:hover {
      color: lighten($text-color,10%);
    }
  }

}


//Details

.container.details{
  background: url(../assets/details-background.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 400px;

  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  position: relative;

  @include mobile {
    height: 180px;
    font-size: 16px;

    align-items: center;

    text-transform: uppercase;

    margin: 0;
  }

  .details-title {
    color: $details-title-color;


  }

  .details-circle1 {
    width: 125px;
    height: 125px;

    background: $details-circle1-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($details-circle1-color,15%);

    position: absolute;
    top: -40px;
    left: 200px;
    opacity: 0.8;

    @include mobile {
      display: none;
    }


  }

  .details-circle2 {
    width: 125px;
    height: 125px;

    background: $details-circle2-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($details-circle2-color,15%);

    position: absolute;
    top: 30px;
    left: 560px;
    opacity: 0.75;

    @include mobile {
      display: none;
    }


  }

  .details-circle3 {
    width: 125px;
    height: 125px;

    background: $details-circle3-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($details-circle3-color,15%);

    position: absolute;
    top: 160px;
    left: 900px;
    opacity: 0.7;

    @include mobile {
      display: none;
    }


  }

  .details-circle4 {
    width: 125px;
    height: 125px;

    background: $details-circle4-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($details-circle4-color,15%);

    position: absolute;
    top: 220px;
    left: 320px;
    opacity: 0.65;

    @include mobile {
      display: none;
    }

  }

}


//Footer

.container.footer {
  background-color: $footer-background-color;
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    flex-direction: column;
  }




  .footer-content {
    color: $text-color;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    width: 100%;


    @include mobile {
      font-size: 14px;
    }
  .footer-content__left {
    width: 33%;

    }
  .footer-content__logo {
    max-width: 90px;
    max-height: 90px;
    filter: invert(60%) sepia(1%) saturate(3283%) hue-rotate(314deg) brightness(109%) contrast(102%);


    }
  .footer-content__right {
    width: 33%;

    }
  }
}













