@import "base";
@import "media";

//Hero

//.hero-background {
//  background: url(../assets/hero-background-nologo.png) no-repeat center;
//  background-size: cover;
//  width: 100%;
//  height: 400px;
//}

.container.hero {
  width: 100%;
  background-color: $container-background-color;

  @include mobile {
    z-index: 2;
  }

}

.hero-link {

  text-decoration: none;

  position: absolute;
  right: 6%;
  bottom: 0;

  @include mobile {
    right: 0;
    bottom: 4%;

  }

  @include tablet {
    right: 2%;
  }

  .hero-link__background {
    width: 180px;
    height: 180px;

    @include mobile {

      width: 60px;
      height: 60px;
      z-index: 2;

    }

    @include tablet {

      width: 120px;
      height: 120px;

    }
  }
}

.hero-base {
  background-image: linear-gradient(to left, rgba(215,215,217,1) 0%,rgba(186,186,186,1) 0%,rgba(215,215,217,1) 50%,rgba(237,237,237,1) 100%);
  position: relative;

  @include mobile {
    z-index: -1;
  }

  .hero-base__title {
    color: #ffffff;
    font-size: 72px;

    text-shadow: 0 3px 0 $first-color,
    0 14px 10px rgba(0,0,0,0.15),
    0 24px 2px rgba(0,0,0,0.1),
    0 34px 30px rgba(0,0,0,0.1);

    position: absolute;
    top: 40px;
    right: 8%;

    @include mobile {

      top: 0;
      right: 4%;
      font-size: 2rem;
    }

    @include tablet {
      font-size: 4rem;
    }
  }

}


.hero-background {
  width: 100%;
}

.hero-info {
  margin: 0;

  text-align: justify;
  color: $text-color;

  font-size: 20px;

  padding: 30px 10px;

  @include mobile {
    box-shadow: 0 1px 2px 6px $circles-text-color,
    0 -1px 2px 6px $circles-text-color;
    z-index: 3;
  }

  .hero-title {
    color: $first-color;
    text-align: center;
    font-weight: bold;

    margin-top: 0;

    @include mobile {
      font-size: 1.8rem;
      padding: 0 10px;

    }

  }

  @include mobile {
    font-size: 0.4rem;
    padding: 20px;
  }

  .hero-list {
    text-align: center;
    list-style-position: inside;
    color: #000;
    line-height: 1.8;
    font-size: 1.5rem;

    @include mobile {
      padding: 0;
      font-size: 1.2rem;
      line-height: 1.5;
    }

    li {
      font-size: 1.2rem;

      @include mobile {

        font-size: 1rem;
        margin-bottom: 0.6rem;
      }

    }

  }

}
.hero-list > li:nth-child(2) {
  margin-top: 10px;

  @include mobile {
    margin-top: 15px;
  }


}

// Slider

.container.slider {

  background-color: #D7D7D9;
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mobile {
    padding-bottom: 20px;

  }

}

.slider-title {

  color: $text-color;
  text-align: center;

  font-weight: bold;

  @include mobile {
    padding: 0 10px;
    font-size: 1.8rem;
  }
}

.slider-boxes {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0 50px 0;
  width: 100%;
  cursor: pointer;

  @include mobile {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

}
.slider-boxes__box {
  width: 200px;
  height: 200px;
  margin: 0 15px;

  opacity: 0.8;

  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding-bottom: 10px;

  border: 1px solid $text-color;

  transition: all 0.5s linear;

  font-size: 20px;

  @include mobile {
    margin: 5px 5px;
    width: 90%;
    height: 50px;
    align-items: center;
    padding: 0;
  }



  &.box1 {
    background-image: url('../assets/slider-img1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  &.box2 {
    background-image: url('../assets/slider-img2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &.box3 {
    background-image: url('../assets/slider-img3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  .slider-boxes__text {
    color: $sliderbox-text-color;
    pointer-events: none;

  }

  &:hover {
    width: 240px;
    height: 240px;
    opacity: 1;
    font-size: 28px;

    @include mobile {
      width: 90%;
      height: 50px;
      opacity: 1;
      font-size: 24px;
    }
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;

  }

  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;

  }
}

.slide {
  text-align: center;
  color: $text-color;
  width: 90%;
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  border: 1.5px solid $text-color;

  animation: reveal 0.35s linear forwards;

  @include mobile {
    padding: 0;
  }

}

.slide-content {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;



  .slide-content__img {
    min-width: 120px;
    min-height: 120px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $circles-text-color;

    pointer-events: none;

    border-radius: 5%;

    box-shadow: inset 0 0 4px 4px $slider-background-color;

    &.box-one {
      background: url(../assets/slider-img1.png) no-repeat center;
      background-size: cover;

      @include mobile {
        display: none;
      }


    }
    &.box-two {
      background: url(../assets/slider-img2.png) no-repeat center;
      background-size: cover;

      @include mobile {
        display: none;
      }
    }
    &.box-three {
      background: url(../assets/slider-img3.png) no-repeat center;
      background-size: cover;

      @include mobile {
        display: none;
      }
    }

  }

  > div {
    pointer-events: none;

    @include mobile {
      padding: 20px 20px 5px 20px;
    }

  }

  .slide-content__title {
    display: inline-flex;
    margin: 0;

    font-weight: bold;

  }

  .slide-content__text {
    text-align: justify;
    white-space: pre-line;
    line-height: 1.5;


  }

  .slide-content__link {
    pointer-events: auto;

    text-decoration: none;

    color: $circle2-background-color;
    font-weight: bold;


    &:hover {
      color: lighten($circle2-background-color, 10%);
    }

  }

  .slide-content__link-title {
    text-align: center;

  }




}


//Animated info


.container.circles {
  height: 650px;
  width: 100%;
  background-color: $container-background-color;

  @include mobile {
    height: auto;
    @include mobile {
      box-shadow: 0 -1px 6px 6px $circles-text-color;
      z-index: 3;
    }
  }

}

.circles-title {
  text-align: center;
  color: $text-color;

  @include mobile {
    font-size: 1.8rem;
    padding: 0 10px;
  }
}

.circles-field {
  margin-top: 50px;
  color: $circles-text-color;
  font-size: 24px;
  text-align: center;
  width: 100%;
  height: auto;
  position: relative;



  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: auto;

    margin: 0;
    padding: 20px 0;

    box-shadow: 0 6px 12px 6px $circles-text-color;


  }


  .circles1-left {
    width: 240px;
    height: 240px;
    background-color: $circle1-background-color;

    cursor: pointer;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle1-background-color,15%);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 20px;
    left: 600px;
    z-index: 2;

    transition: all 0.8s linear;


    @include mobile {
      position: relative;
      left: 0;
      top: 0;

      font-size: 18px;

      width: 90%;
      height: 50px;

      border-radius: 0;
      margin: 5px 5px;
    }

    &.active {
      width: 500px;
      height: 500px;
      top: 50%;
      left: 50%;
      z-index: 2;

      transform: translate(-50%);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border: 5px solid $first-color;

      background-color: #ffffff;


      @include mobile {
        position: relative;
        left: auto;
        top: auto;
        transform: translate(0);

        width: calc(90% - 4px);
        height: auto;

        border-radius: 0;
        border: 2px solid $first-color;

        margin: 5px 5px;
        padding: 20px 0;

      }

    }

    &.inactive2 {
      left: 900px;
      top: 0;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }

    &.inactive3 {
      left: 900px;
      top: 300px;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }


    &.inactive4 {
      top: 300px;
      left: 60px;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }

    &.inactive5 {
      top: 10px;
      left: 50px;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }


  }

  .circles1-right {
    width: 125px;
    height: 125px;

    background-color: $circle-background-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle-background-color,15%);

    position: absolute;
    top: 50px;
    left: 790px;
    z-index: 1;

    transition: all 1s linear;

    &.inactive {
      top: 400px;
      left: 600px;
      opacity: 0;

    }

    @include mobile {
      display: none;
    }

  }


  .circles2-left {

    width: 150px;
    height: 150px;
    background-color: $circle2-background-color;

    cursor: pointer;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle2-background-color,15%);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 230px;
    right: 10%;
    z-index: 2;

    transition: all 1s linear;

    @include mobile {
      position: relative;
      left: 0;
      top: 0;

      width: 90%;
      height: 50px;

      font-size: 18px;

      border-radius: 0;
      margin: 5px 5px;
    }


    &.active {
      width: 500px;
      height: 500px;
      top: 50%;
      left: 50%;
      z-index: 2;

      transform: translate(-50%);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border: 5px solid $circle2-background-color;

      background-color: #ffffff;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0);

        width: calc(90% - 4px);
        height: auto;

        border-radius: 0;
        border: 2px solid $circle2-background-color;

        margin: 5px 5px;
        padding: 20px 0;
      }

    }

    &.inactive {
      left: 900px;
      top: 0;

      @include mobile {
        position: relative;
        left: auto;
        top: auto;
        width: 90%;
        height: 50px;
      }

    }

    &.inactive2 {
      left: 900px;
      top: 0;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;
        width: 90%;
        height: 50px;
      }
    }

    &.inactive3 {
      left: 900px;
      top: 300px;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;
        width: 90%;
        height: 50px;
      }
    }


    &.inactive4 {
      top: 300px;
      left: 60px;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;
        width: 90%;
        height: 50px;
      }
    }

    &.inactive5 {
      top: 10px;
      left: 50px;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;
        width: 90%;
        height: 50px;

      }
    }

    .applicationFormLink {

      text-decoration: none;
      color: darken($circle2-background-color,20%);
      font-size: 2rem;
      width: 75%;

      animation: reveal 1.3s ease-in forwards;

      @include mobile {
        font-size: 1.6rem;
        animation: reveal 1s ease-in forwards;
      }

      &:hover {
        font-size: 2.2rem;

        @include mobile {
          font-size: 1.6rem;
        }
      }

    }

 }

  .circles2-right {
    width: 125px;
    height: 125px;

    background-color: $circle-background-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle-background-color,15%);

    position: absolute;
    top: 260px;
    right: 5%;
    z-index: 1;

    transition: all 1s linear;

    &.inactive {
      top: 50px;
      left: 1000px;
    }

    @include mobile {
      display: none;
    }


  }

  .circles3-left {

    width: 170px;
    height: 170px;
    background-color: $circle3-background-color;

    cursor: pointer;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle3-background-color,15%);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 260px;
    left: 380px;
    z-index: 2;

    transition: all 1s linear;

    @include mobile {
      position: relative;
      left: 0;
      top: 0;

      width: 90%;
      height: 50px;

      font-size: 18px;

      border-radius: 0;
      margin: 5px 5px;
    }

    &.active {
      width: 500px;
      height: 500px;
      top: 50%;
      left: 50%;
      z-index: 2;

      transform: translate(-50%);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border: 5px solid $circle3-background-color;

      background-color: #ffffff;

      @include mobile {

        position: relative;
        left: auto;
        top: auto;
        transform: translate(0);

        width: calc(90% - 4px);
        height: auto;

        border-radius: 0;
        border: 2px solid $circle3-background-color;

        margin: 5px 5px;
      }

      }

    &.inactive {
      left: 900px;
      top: 300px;
      cursor: none;

      @include mobile {
        position: relative;
        left: auto;
        top: auto;

        width: 90%;
        height: 50px;
      }

    }

    &.inactive2 {
      left: 900px;
      top: 0;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }

    &.inactive3 {
      left: 900px;
      top: 300px;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }


    &.inactive4 {
      top: 300px;
      left: 60px;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }

    &.inactive5 {
      top: 10px;
      left: 50px;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }

  }
}

  .circles3-right {
    width: 125px;
    height: 125px;

    background-color: $circle-background-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle-background-color,15%);

    position: absolute;
    top: 260px;
    left: 300px;
    z-index: 1;

    transition: all 1s linear;

    &.inactive {
      top: 300px;
      left: 1000px;
    }

    @include mobile {
      display: none;
    }

  }

  .circles4-left {

    width: 130px;
    height: 130px;
    background-color: $circle4-background-color;

    cursor: pointer;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle4-background-color,15%);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 200px;
    left: 8%;
    z-index: 2;

    transition: all 1s linear;

    @include mobile {
      position: relative;
      left: 0;
      top: 0;

      width: 90%;
      height: 50px;

      font-size: 18px;

      border-radius: 0;
      margin: 5px 5px;
    }

    &.active {
      width: 500px;
      height: 500px;
      top: 50%;
      left: 50%;
      z-index: 2;

      transform: translate(-50%);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border: 5px solid $circle4-background-color;

      background-color: #ffffff;

      @include mobile {

        position: relative;
        left: auto;
        top: auto;
        transform: translate(0);

        width: calc(90% - 4px);
        height: auto;

        border-radius: 0;
        border: 2px solid $circle4-background-color;

        margin: 5px 5px;
        padding: 20px 0;

      }
    }

    &.inactive {
      top: 300px;
      left: 60px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: auto;
        top: auto;

        width: 90%;
        height: 50px;
      }

    }
    &.inactive2 {
      left: 900px;
      top: 0;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }

    &.inactive3 {
      left: 900px;
      top: 300px;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }


    &.inactive4 {
      top: 300px;
      left: 60px;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }

    &.inactive5 {
      top: 10px;
      left: 50px;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }

  }

  .circles4-right {
    width: 125px;
    height: 125px;

    background-color: $circle-background-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle-background-color,15%);

    position: absolute;
    top: 60px;
    left: 5%;
    z-index: 1;

    transition: all 1s linear;

    &.inactive {
      top: 280px;
      left: 10px;
    }

    @include mobile {
      display: none;
    }

  }


  .circles5-left {

    width: 160px;
    height: 160px;
    background-color: $circle5-background-color;

    cursor: pointer;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle5-background-color,15%);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 300px;
    z-index: 2;

    transition: all 1s linear;

    @include mobile {
      position: relative;
      left: 0;
      top: 0;

      width: 90%;
      height: 50px;

      font-size: 18px;

      border-radius: 0;
      margin: 5px 5px;
    }

    &.active {
      width: 500px;
      height: 500px;
      top: 50%;
      left: 50%;
      z-index: 2;

      transform: translate(-50%);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border: 5px solid $circle5-background-color;

      background-color: #ffffff;

      @include mobile {

        position: relative;
        left: auto;
        top: auto;
        transform: translate(0);

        width: calc(90% - 4px);
        height: auto;

        border-radius: 0;
        border: 2px solid $circle5-background-color;

        margin: 5px 5px;
        padding: 10px 0;

      }

    }

    &.inactive {
      top: 10px;
      left: 50px;
      cursor: none;

      @include mobile {
        position: relative;
        left: auto;
        top: auto;

        width: 90%;
        height: 50px;
      }

    }

    &.inactive2 {
      left: 900px;
      top: 0;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }

    &.inactive3 {
      left: 900px;
      top: 300px;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }


    &.inactive4 {
      top: 300px;
      left: 60px;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }

    &.inactive5 {
      top: 10px;
      left: 50px;
      width: 160px;
      height: 160px;
      cursor: pointer;

      @include mobile {
        position: relative;
        left: 0;
        top: 0;

        width: 90%;
        height: 50px;
      }
    }
  }

  .circles5-right {
    width: 125px;
    height: 125px;

    background-color: $circle-background-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($circle-background-color,15%);

    position: absolute;
    top: 360px;
    left: 700px;
    z-index: 1;

    transition: all 1s linear;

    &.inactive {
      top: 40px;
      left: 10px;
    }

    @include mobile {
      display: none;
    }

}



.circles-text {
  max-height: 90%;
  width: 72%;
  max-width: 500px;
  text-align: center;
  font-size: 1rem;
  padding: 0 5px;
  cursor: default;
  color: darken($text-color,20%);

  animation: reveal 1.3s ease-in forwards;

  @include mobile {
    font-size: 1rem;

    animation: reveal 1s ease-in forwards;
  }
}

.circles-list {
  margin: 0;
  list-style-position: inside;
  list-style-type: pointer;
  padding: 0;


  @include mobile {
    font-size: 1rem;
    line-height: 1.5;
    width: 90%;
  }

  .circles-list__el {
    color: darken($first-color,20%);

    @include mobile {
      padding-bottom: 10px;
    }

    &:hover {
      color: darken($first-color, 5%);

      @include mobile {
        font-size: 1rem;
      }

    }
  }

}

.circle-calendar {
  max-height: 90%;
  width: 90%;
  max-width: 500px;
  text-align: center;
  font-size: 2rem;
  padding: 0 5px;
  cursor: default;
  color: darken($circle3-background-color,20%);

  animation: reveal 1.3s ease-in forwards;

  @include mobile {
    font-size: 1.6rem;
    animation: reveal 1s ease-in forwards;
  }

}

.circles-fees {

    max-height: 90%;
    width: 85%;
    max-width: 500px;
    text-align: center;
    font-size: 1rem;
    padding: 0 5px;
    cursor: default;
    color: darken($circle4-background-color,20%);

    animation: reveal 1.3s ease-in forwards;

    @include mobile {

      animation: reveal 1s ease-in forwards;
    }

    >h2 {
      margin-top: 0;
    }
}

.circles-table {
  max-height: 30%;
  width: 80%;
  max-width: 500px;
  text-align: center;
  font-size: 1rem;
  padding: 0 5px;
  cursor: default;
  color: darken($circle4-background-color,20%);

  animation: reveal 1.3s ease-in forwards;

}

.circles-table__header--row {
  border: 1px solid lighten($circle4-background-color,15%);

}
.circles-table__header--col1 {
  width: 30%;
  border: 1px solid lighten($circle4-background-color,15%);
  padding: 4px;
}
.circles-table__header--col2 {
  width: 70%;
  border: 1px solid lighten($circle4-background-color,15%);
  padding: 4px;
}

.circles-five {
  max-height: 90%;
  width: 72%;
  max-width: 500px;
  text-align: center;
  font-size: 2rem;
  padding: 0 5px;
  cursor: default;
  color: darken($circle5-background-color,20%);

  animation: reveal 1.3s ease-in forwards;

  @include mobile {
    font-size: 1.6rem;
    animation: reveal 1s ease-in forwards;
  }
}


//Details

.container.details{
  background: url(../assets/details-bckgrnd-without-text.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 400px;


  display: flex;
  justify-content: center;
  align-items: flex-end;

  position: relative;

  @include mobile {
    height: 180px;
    background-position: right;

    z-index: -1;
    align-items: center;

    text-transform: uppercase;
    font-size: 16px;

    margin: 0;


  }

  .details-title {
    position: absolute;
    top: 40px;
    left: 320px;

    color: $details-title-color;
    font-size: 42px;

    @include mobile {
      font-size: 1.2rem;

      top: 2%;
      left: 5%;
    }

    @include tablet {

      font-size: 2rem;

    }
  }

  .details-subtitle {
    position: absolute;
    bottom: 40px;
    left: 40px;


    color: $details-title-color;
    font-size: 36px;

    @include mobile {
      font-size: 0.8rem;

      bottom: 6%;
      left: 5%;
    }

    @include tablet {

      font-size: 1.6rem;

    }


  }

  .details-circle1 {
    width: 125px;
    height: 125px;

    background: $details-circle1-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($details-circle1-color,15%);

    position: absolute;
    top: -110px;
    left: 200px;
    opacity: 0.8;

    @include mobile {
      display: none;
    }


  }

  .details-circle2 {
    width: 125px;
    height: 125px;

    background: $details-circle2-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($details-circle2-color,15%);

    position: absolute;
    top: -55px;
    right: 60px;
    opacity: 0.75;

    @include mobile {
      display: none;
    }


  }

  .details-circle3 {
    width: 125px;
    height: 125px;

    background: $details-circle3-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($details-circle3-color,15%);

    position: absolute;
    top: 80px;
    left: 100px;
    opacity: 0.7;

    @include mobile {
      display: none;
    }


  }

  .details-circle4 {
    width: 125px;
    height: 125px;

    background: $details-circle4-color;

    border-radius: 50%;
    box-shadow: 0 4px 4px darken($details-circle4-color,15%);

    position: absolute;
    top: 250px;
    right: 200px;
    opacity: 0.65;

    @include mobile {
      display: none;
    }

  }

}


//Footer

.container.footer {
  background-color: #fff;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;


  @include mobile {
    box-shadow: 0 -6px 12px 6px $circles-text-color;
  }

  .footer-rodo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $text-color;
    padding: 20px 0;

    &:hover {
      color: lighten($text-color,15%);
    }

    @include mobile {
      text-align: center;
      padding: 20px;
    }

  }

  .footer-content {
    color: $footer-text-color;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 20px;

    width: 100%;


    @include mobile {
      font-size: 0.6rem;
      align-items: flex-start;
      width: 90%;
    }

    @include tablet {
      font-size: 1rem;
    }


    .footer-content__left {
      width: 33%;
      font-style: normal;

      @include mobile {
        width: 50%;
      }

    }
    .footer-content__logo {
      max-width: 90px;
      max-height: 90px;

      @include mobile {
        max-width: 45px;
        max-height: 45px;
      }

      @include tablet {
        max-width: 80px;
        max-height: 80px;
      }

      }
    .footer-content__right {
      width: 20%;
      font-style: normal;

      @include mobile {
        width: 50%;
      }

      }
    .footer-content__facebook {
      > i {
        text-decoration: none;
        color: #166FE5;
        font-size: 18px;

        @include mobile {
          font-size: 0.7rem;
        }

        @include tablet {
          font-size: 1rem;
        }

      }
    }
  }
}













