@import "media";
@import "base";
@import "components";

* {
  font-family: $font;
}

header, main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1140px;
}