@import "media";
@import "base";
@import "components";

* {
  font-family: $font;
}

body {
  background-color: $body-background;
  display: flex;
  justify-content: center;

}

#root {

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;

  box-shadow: darken($body-background, 50%) 0 5px 15px;


  @include mobile {

    max-width: 100%;

  }

}

footer {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1140px;
}

.online {
  color: $circle3-background-color
}